<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Welcome GraphQL Demo App</span>
  <div class="spacer"></div>
</div>
<div class="notes">
  <div class="content" role="main">
    <div class="title">List of Notes</div>
    <div class="note-container">
      <div class="note-card" *ngFor="let note of notes">
        <div class="content">{{note?.name}}</div>
        <div class="action">
          <img class="edit" (click)="edit(note)" src="assets/edit.svg">
          <img class="delete" (click)="delete(note._id)" src="assets/delete.svg">
        </div>
      </div>
    </div>
  </div>
  <div class="content content-right" role="main">
    <div class="title">
      <ng-container *ngIf="!isEdit; then createview else editview"></ng-container>
    </div>
    <div class="note-container">
      <div class="note-card">
        <div class="form">
          <div class="fields">
            <textarea [(ngModel)]="note.name" rows="6"></textarea>
          </div>
          <div class="form-action">
            <button (click)="updateNote()">{{!isEdit ? 'Create' : 'Update'}}</button>
            <button *ngIf="isEdit" (click)="reset()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #createview>
  Create Note
</ng-template>

<ng-template #editview>
  Edit Note
</ng-template>
